html{
    background-color: black;
}
#text1{
    color: white;
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    text-align: center;
    
}
#text2{
    text-align: center;
    color: white;
    text-transform: uppercase;
    text-align: center;
}
#foto{
    width: 100%;
    margin-top: 100px;
    height: 75%;
    border: 5px solid white;
   
}
div{
    width: 50%;
    margin-left: 25%;
}